{{> head}}

<body>

    {{> navbar}}
    <div class="container">
        <h1>Enterprise</h1>
        <img src="https://www.startrek.com/sites/default/files/styles/content_full/public/images/inline/2019-01/1f8fdd291ff77508fc96d99622965da8.jpg?itok=HyANBkVf"
            alt="">
        {{> footer}}
    </div>
    {{> script}}

</body>

</html>